{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Waste Management | Sign in{% endblock %}
{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}
{% block extra_nav_items%}
  <li class="nav-item">
    <a class="nav-link"></a>
  </li>
{%endblock%}
{% block content %}
  <div class="container d-flex flex-column">
    <div class="sign_in_message">
      <h1>Sign in</h1>
      <p>If you don't have an account please contact your administrator </p>
    </div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
        TEST
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
{% endblock %}
