{% extends 'client_portal/base.html' %}
{% block head_title %}Client Portal{% endblock %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'client_portal/style.css' %}">
{% endblock %}
{%block content %}
    <div class="container" id="main-container">
        <div class="row">
            <div class="col-3" id="left-panel" style='padding:0px'>
                <div class="list-group" id="list-tab" role="tablist">
                     <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>
            <div class="col-9" id="right-panel">
                <div style='display: inline-grid;
                            margin: 5px 0px 0px 0px;
                            width: 100%;'>
                    <h3 style='grid-column:1 span 2;margin:0px'>Calibrate</h3>
                    <h3 style='grid-column:2;margin:0px'>Submit</h3>
                    <h3 style='grid-column:3;margin:0px'>+</h3>
                </div>
                <div class="card">
                  <div class="card-body">
                    Progress Bar will go here.
                  </div>
                </div>
               <div class="card" id="system-preferences">
                  <h5 class="card-title" style='text-align:center;margin-top:8px'>System Preferences</h5>
                  <div class="card-body row d-flex flex-row" style='align-items:center'>
                  </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block extra_body %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'client_portal/item_card.js'%}"></script>
    <script src="{% static 'client_portal/trash_list.js'%}"></script>
    <script>
        state = {
            Recyclables: [],
            Paper: [],
            Landfill: [],
            Compost: [],
        }
        
        get_trash((res) =>{
            update_trash_state_server(res.trash)
            make_circles(state)
            make_trash_lists(state)
        })

        function make_circles(state){
            preferences = [{
                            name: "Recyclables",
                            color: "red"
                        },
                        {
                            name: "Paper",
                            color: "yellow"
                        },
                        {
                            name: "Landfill",
                            color: "black"
                        },
                        {
                            name: "Compost",
                            color: "green"
            }]
            preferences.forEach(elem => {
                id = "preference_box_" + elem.name
                $("#system-preferences").children(".card-body").append(`
                    <div class='col-3 preference_box align-self-stretch d-flex flex-column' id='${id}'></div>
                `).css("text-align","center")
                itemCard($("<div></div>").appendTo(`#${id}`),state[`${elem.name}`].length,elem.color)
                $(`#${id}`).append($(`<h5>${elem.name}</h5>`).css("margin","8px 0px"))
            })
        }
        function make_trash_lists(state){
            $(".preference_box").each(function(i,e){
                var preference = $(this).attr("id").replace("preference_box_","")
                var id = 'trash_list_' +  preference
                $(this).append($(`<div class='align-self-stretch d-flex flex-column' style='flex-grow:1' id='${id}'>`))
                trash_list($(`#${id}`),state[preference])
            })
        }
        function update_trash_state_server(trash) {
            trash.forEach(e => {
                switch(e.type){
                    case "R":
                        state['Recyclables'].push(e)
                    break
                    case "L":
                        state['Landfill'].push(e)
                    break
                    case "P":
                        state['Paper'].push(e)
                    break
                    case "C":
                        state['Compost'].push(e)
                    break
                }
            })
            
        }
    </script>
{% endblock %}