{% extends 'client_portal/base.html' %}
{% block head_title %}Client Portal{% endblock %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'client_portal/style.css' %}">
{% endblock %}
{%block content %}
    <div class="container" id="main-container">
        <div class="row">
            <div class="col-3" id="left-panel">
                Hi
            </div>
            <div class="col-9" id="right-panel">
                <h3>Calibrate</h3>
                <div class="card">
                  <div class="card-body">
                    This is some text within a card body.
                  </div>
                </div>
               <div class="card">
                  <div class="card-body">
                    This is some text within a card body.
                  </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}